# Files to ignore
*.sav
*.bak
*.old
*.swp
*.kate-swp
*.pyc
*.bin
.~*
*~

# PlatformIO specific
.clang_complete
.gcc-flags.json
.pioenvs
.piolibdeps

# others
.vscode
*.svd
debug.cfg
debug_custom.json

# KiCad
.bck
.sch-bak
fp-info-cache

